{{> head }}
{{> navbar }}    

<div class="row">

    <div class="col-8">
        <h1>America Captain</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eveniet fuga porro magnam saepe ratione, aliquam quis nostrum itaque quos voluptatem? Voluptatibus voluptatum blanditiis fugit accusamus veniam ad enim esse?</p>
    </div>

    <div class="col-4">
        <img src="assets/img/captain-america.png" class="img-thumbnail">
    </div>

</div>

{{> footer }}